In [367]:
import scm
import sympy as sp

In [368]:
s,s0, x,x0, y, u1, u2, u3, u01, u02 = sp.symbols('s s0 x x0 y u1 u2 u3 u01 u02')

In [369]:
cv = (0,0)

In [370]:
model = scm.SymbolicSCM(
    f = {
        s0: cv[0],
        x0: cv[1],
        s: (x0 | s0) ^ u01 ^ u02,
        x: (s) ^ u1,
        y: s ^ x ^ u1 ^ u3
    },
    pu={
        u1: .9,
        u2: .1,
        u3: .1,
        u01: .9,
        u02: .1
    }
)

In [371]:
model.query({y:1},given={x:0,s:1})

0.1

In [372]:
model.get_probability_table(include_u=False)

   s0  x0  s  x  y  probability
0   0   0  0  0  0       0.0162
1   0   0  0  0  1       0.0018
2   0   0  0  1  0       0.1458
3   0   0  0  1  1       0.0162
4   0   0  1  0  0       0.6642
5   0   0  1  0  1       0.0738
6   0   0  1  1  0       0.0738
7   0   0  1  1  1       0.0082

In [373]:
model1 = scm.SymbolicSCM(
    f = {
        s0: cv[0],
        x0: cv[1],
        s: s0 ^ u02,
        x: (s) ^ u1,
        y: u3
    },
    pu={
        u1: .9,
        u2: .1,
        u3: .1,
        u01: .9,
        u02: .1
    }
)

In [374]:
model1.query({x:1})

0.8200000000000001

In [375]:
model.query({x:1})

0.244

CMAB

In [376]:
s,x,y,usx,uxy,usy = sp.symbols('s x y usx uxy usy')


scm_cmab = scm.SymbolicSCM(
    f = {
        s: usx ^ usy,
        x: s ^ uxy ^ usx,
        y: (s & x) ^ usy ^ uxy
    },
    pu={
        usx: .5,
        uxy: .5,
        usy: .5
    }
)

In [393]:
scm_cmab.get_probability_table()

   s  x  y  probability
0  0  0  0         0.25
1  0  1  1         0.25
2  1  0  0         0.25
3  1  1  0         0.25

In [378]:
scm_cmab2 = scm.SymbolicSCM(
    f = {
        s: usx ^ usy,
        x: s | uxy,
        y: (x) & usy & uxy
    },
    pu={
        usx: .5,
        uxy: .5,
        usy: .5
    }
)

In [394]:
scm_cmab2.get_probability_table()

   s  x  y  probability
0  0  0  0        0.250
1  0  1  0        0.125
2  0  1  1        0.125
3  1  1  0        0.375
4  1  1  1        0.125

In [379]:
scm_cmab2.query({y:0})

0.7500000000000002

In [395]:
scm_cmab.do({x:1}).get_probability_table()

   {s}_{x=1}  {x}_{x=1}  {y}_{x=1}  probability
0          0          1          0         0.25
1          0          1          1         0.25
2          1          1          0         0.25
3          1          1          1         0.25

In [396]:
scm_cmab2.do({x:1}).get_probability_table()

   {s}_{x=1}  {x}_{x=1}  {y}_{x=1}  probability
0          0          1          0        0.375
1          0          1          1        0.125
2          1          1          0        0.375
3          1          1          1        0.125

In [382]:
scm_cmab1 = scm.SymbolicSCM(
    f = {
        s: usx ^ usy,
        x: (s) ^ usx ^ uxy,
        y: (s&x) ^ usy ^ uxy
    },
    pu={
        usx: .5,
        uxy: .5,
        usy: .5
    }
)

In [383]:
scm_cmab1.get_probability_table()

   s  x  y  probability
0  0  0  0         0.25
1  0  1  1         0.25
2  1  0  0         0.25
3  1  1  0         0.25

In [384]:
scm_cmab.query({y:1})

0.25000000000000006

In [385]:
scm_cmab1.query({y:1})

0.25000000000000006

In [386]:
from query import Pr


scm_cmab.do({x:0}).query_exp(Pr({y:1}))

0.500000000000000

In [387]:
scm_cmab1.do({x:0}).query_exp(Pr({y:1}))

0.500000000000000

In [388]:
scm_cmab1.do({x:1}).query({y:1})

0.5000000000000001

In [389]:
scm_cmab.do({x:1}).query({y:1})

0.5000000000000001

In [390]:
scm_cmab1.do({x:0}).get_probability_table()

   {s}_{x=0}  {x}_{x=0}  {y}_{x=0}  probability
0          0          0          0         0.25
1          0          0          1         0.25
2          1          0          0         0.25
3          1          0          1         0.25

In [391]:
scm_cmab.do({x:0}).get_probability_table()

   {s}_{x=0}  {x}_{x=0}  {y}_{x=0}  probability
0          0          0          0         0.25
1          0          0          1         0.25
2          1          0          0         0.25
3          1          0          1         0.25