In [9]:
from src import scm
import sympy as sp

In [10]:
s,s0, x,x0, y, u1, u2, u3, u01, u02 = sp.symbols('s s0 x x0 y u1 u2 u3 u01 u02')

In [11]:
cv = (0,0)

In [12]:
model = scm.SymbolicSCM(
    f = {
        s0: cv[0],
        x0: cv[1],
        s: (x0 | s0) ^ u01 ^ u02,
        x: (s) ^ u1,
        y: s ^ x ^ u1 ^ u3
    },
    pu={
        u1: .9,
        u2: .1,
        u3: .1,
        u01: .9,
        u02: .1
    }
)

In [13]:
model.query({y:1},given={x:0,s:1})

0.1

In [14]:
model.get_probability_table(include_u=False)

   s0  x0  s  x  y  probability
0   0   0  0  0  0       0.0162
1   0   0  0  0  1       0.0018
2   0   0  0  1  0       0.1458
3   0   0  0  1  1       0.0162
4   0   0  1  0  0       0.6642
5   0   0  1  0  1       0.0738
6   0   0  1  1  0       0.0738
7   0   0  1  1  1       0.0082

In [15]:
model1 = scm.SymbolicSCM(
    f = {
        s0: cv[0],
        x0: cv[1],
        s: s0 ^ u02,
        x: (s) ^ u1,
        y: u3
    },
    pu={
        u1: .9,
        u2: .1,
        u3: .1,
        u01: .9,
        u02: .1
    }
)

In [16]:
model1.query({x:1})

0.8200000000000001

In [17]:
model.query({x:1})

0.244

CMAB

In [18]:
s,x,y,usx,uxy,usy = sp.symbols('s x y usx uxy usy')


scm_cmab = scm.SymbolicSCM(
    f = {
        s: usx ^ usy,
        x: s ^ uxy ^ usx,
        y: (s & x) ^ usy ^ uxy
    },
    pu={
        usx: .5,
        uxy: .5,
        usy: .5
    }
)

In [19]:
scm_cmab.get_probability_table()

   s  x  y  probability
0  0  0  0         0.25
1  0  1  1         0.25
2  1  0  0         0.25
3  1  1  0         0.25

In [20]:
scm_cmab2 = scm.SymbolicSCM(
    f = {
        s: usx ^ usy,
        x: s | uxy,
        y: (x) & usy & uxy
    },
    pu={
        usx: .5,
        uxy: .5,
        usy: .5
    }
)

In [21]:
scm_cmab2.get_probability_table()

   s  x  y  probability
0  0  0  0        0.250
1  0  1  0        0.125
2  0  1  1        0.125
3  1  1  0        0.375
4  1  1  1        0.125

In [22]:
scm_cmab2.query({y:0})

0.7500000000000002

In [23]:
scm_cmab.do({x:1}).get_probability_table()

   {s}_{x=1}  {x}_{x=1}  {y}_{x=1}  probability
0          0          1          0         0.25
1          0          1          1         0.25
2          1          1          0         0.25
3          1          1          1         0.25

In [24]:
scm_cmab2.do({x:1}).get_probability_table()

   {s}_{x=1}  {x}_{x=1}  {y}_{x=1}  probability
0          0          1          0        0.375
1          0          1          1        0.125
2          1          1          0        0.375
3          1          1          1        0.125

In [25]:
scm_cmab1 = scm.SymbolicSCM(
    f = {
        s: usx ^ usy,
        x: (s) ^ usx ^ uxy,
        y: (s&x) ^ usy ^ uxy
    },
    pu={
        usx: .5,
        uxy: .5,
        usy: .5
    }
)

In [26]:
scm_cmab1.get_probability_table()

   s  x  y  probability
0  0  0  0         0.25
1  0  1  1         0.25
2  1  0  0         0.25
3  1  1  0         0.25

In [27]:
scm_cmab.query({y:1})

0.25000000000000006

In [28]:
scm_cmab1.query({y:1})

0.25000000000000006

In [33]:
from src import Pr


scm_cmab.do({x:0}).query_exp(Pr({y:1}))

0.5000000000000001

In [34]:
scm_cmab1.do({x:0}).query_exp(Pr({y:1}))

0.5000000000000001

In [35]:
scm_cmab1.do({x:1}).query({y:1})

0.5000000000000001

In [36]:
scm_cmab.do({x:1}).query({y:1})

0.5000000000000001

In [37]:
scm_cmab1.do({x:0}).get_probability_table()

   {s}_{x=0}  {x}_{x=0}  {y}_{x=0}  probability
0          0          0          0         0.25
1          0          0          1         0.25
2          1          0          0         0.25
3          1          0          1         0.25

In [38]:
scm_cmab.do({x:0}).get_probability_table()

   {s}_{x=0}  {x}_{x=0}  {y}_{x=0}  probability
0          0          0          0         0.25
1          0          0          1         0.25
2          1          0          0         0.25
3          1          0          1         0.25

In [43]:
s, x, y, ux, usx, usy, uxy = sp.symbols('s x y ux usx usy uxy')


scm_ex12 = scm.SymbolicSCM(
    f = {
        s: usx ^ usy,
        x: (s) ^ ux,
        y: (s & x) ^ usy ^ uxy
    },
    pu={
        usx: .5,
        ux: .5,
        uxy: .5,
        usy: .5
    }
)

In [44]:
scm_ex12.get_probability_table()

   s  x  y  probability
0  0  0  0        0.125
1  0  0  1        0.125
2  0  1  0        0.125
3  0  1  1        0.125
4  1  0  0        0.125
5  1  0  1        0.125
6  1  1  0        0.125
7  1  1  1        0.125